<h1 class="mb-3">Calendar</h1>
<a href="/calendar/new" class="btn btn-light btn-sm mb-3">Schedule a meeting with your mentor!</a>
<h1>Your have {{dailyschedule.length}} meetings today!</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Organizer</th>
      <th scope="col">Subject</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    {{#each dailyschedule}}
      <tr>
        <td>{{this.organizer.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{eventDateTime this.start.dateTime}}</td>
        <td>{{eventDateTime this.end.dateTime}}</td>
      </tr>

    {{/each}}
  </tbody>
</table>
<br><h3>See your available slots in this week to collaborate with mentor!</h3><br>
<table class="table">

  <tbody>
     <tr>
        {{#each daysOfWeek}}
            <td>{{this}}</td>
        {{/each}}
     </tr>
     <tr>
        {{#each availableSlots}}
            <td>{{this}}</td>
        {{/each}}
     </tr>
  </tbody>
</table>


<h1>Your schedule for this week!</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Organizer</th>
      <th scope="col">Subject</th>
      <th scope="col">Start</th>
      <th scope="col">End</th>
    </tr>
  </thead>
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.organizer.emailAddress.name}}</td>
        <td>{{this.subject}}</td>
        <td>{{eventDateTime this.start.dateTime}}</td>
        <td>{{eventDateTime this.end.dateTime}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
